@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base */
body {
  @apply bg-slate-100 text-slate-900 antialiased;
}
/* Ensure no inherited opacity */
* {
  opacity: 1 !important;
}
.glass {
  @apply bg-white border border-slate-100;
}

.card {
  @apply bg-white rounded-2xl shadow-sm hover:shadow-md transition;
}
